<!DOCTYPE html>
<html>
  <head>
    <title>Analog Studio RI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <!-- TODO: refactor styles away from bootstrap -->
    <link rel="stylesheet" href="../styles/theme.css"></link>
    <!-- TODO: this one is global to provide support with mixing classname for legacy CSS -->
    <link rel="stylesheet" href="../components/card/card.css"></link>
    <!-- TODO:move page specific styles to individual layout files -->
    <link rel="stylesheet" href="../styles/albums.css"></link>
    <link rel="stylesheet" href="../styles/artists.css"></link>
    <link rel="stylesheet" href="../styles/events.css"></link>
    <script type="module" src="../components/header/header.tsx"></script>
    <script type="module" src="../components/footer/footer.tsx"></script>
    <script type="module" src="../components/quick-links/quick-links.tsx"></script>
    <script type="module" src="../components/social-share/social-share.tsx"></script>
    <style>
      as-navigation {
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <as-header></as-header>

    <div class="container">
      <main>
        <output for="page"></output>
      </main>

      <as-footer></as-footer>
    </div>
  </body>
</html>