<!DOCTYPE html>
<html>
  <head>
    <title>Analog Studio RI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="../styles/theme.css"></link>
    <script type="module" src="../components/header/header.tsx"></script>
    <script type="module" src="../components/footer/footer.tsx"></script>
    <style>
      as-navigation {
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <as-header></as-header>
    <output for="page"></output>
    <as-footer></as-footer>
  </body>
</html>